<strong>Olá, {{ user.name }}</strong>
<p>Este email se refere a criação do seu cadastro no nosso site.</p>
<p>Ficamos felizes em ter você conosco nessa jornada.</p>
<p>
  <strong>Click neste link para confirmar seu cadastro: </strong> <a href="{{ link }}/{{ user.login }}">{{ link }}/{{ user.login }}</a> <br />
</p>
